.contact{

    width:90%;
    max-width:1200px;

    margin:140px auto;

    text-align:center;

}

.contact-tag{

    color:#2AE66B;

    letter-spacing:5px;

    font-size:14px;

    margin-bottom:20px;

}

.contact-title{

    color:white;

    font-size:60px;

    margin-bottom:25px;

}

.contact-title span{

    color:#2AE66B;

}

.contact-text{

    color:#B8B8B8;

    font-size:20px;

    max-width:780px;

    margin:auto;

    line-height:1.8;

}

.contact-buttons{

    display:flex;

    justify-content:center;

    gap:25px;

    margin-top:60px;

    flex-wrap:wrap;

}

.primary-btn{

    background:#2AE66B;

    color:#07110c;

    border:none;

    padding:18px 42px;

    border-radius:50px;

    font-size:18px;

    font-weight:700;

    cursor:pointer;

    transition:.35s;

}

.primary-btn:hover{

    transform:translateY(-5px);

    box-shadow:0 15px 35px rgba(42,230,107,.35);

}

.secondary-btn{

    background:transparent;

    color:white;

    border:2px solid #2AE66B;

    padding:18px 42px;

    border-radius:50px;

    font-size:18px;

    cursor:pointer;

    transition:.35s;

}

.secondary-btn:hover{

    background:#2AE66B;

    color:#07110c;

}

@media(max-width:768px){

.contact-title{

font-size:42px;

}

.contact-text{

font-size:18px;

}

.contact-buttons{

flex-direction:column;

align-items:center;

}

}