.footer{

    width:90%;
    max-width:1300px;

    margin:120px auto 40px;

    border-top:1px solid rgba(255,255,255,.08);

    padding-top:60px;

}

.footer-top{

display:flex;

justify-content:space-between;

gap:80px;

flex-wrap:wrap;

}

.footer-brand{

flex:1;

}

.footer-brand h2{

font-size:42px;

color:white;

margin-bottom:20px;

}

.footer-brand p{

color:#B7B7B7;

line-height:1.8;

max-width:400px;

}

.socials{

display:flex;

gap:18px;

margin-top:30px;

font-size:24px;

color:#2AE66B;

}

.socials svg{

cursor:pointer;

transition:.3s;

}

.socials svg:hover{

transform:translateY(-5px);

}

.footer-links{

display:flex;

gap:80px;

flex-wrap:wrap;

}

.footer-links div{

display:flex;

flex-direction:column;

gap:15px;

}

.footer-links h4{

color:white;

margin-bottom:10px;

}

.footer-links a{

text-decoration:none;

color:#B7B7B7;

transition:.3s;

}

.footer-links a:hover{

color:#2AE66B;

}

.footer-bottom{

margin-top:60px;

padding-top:25px;

border-top:1px solid rgba(255,255,255,.08);

text-align:center;

color:#888;

}

@media(max-width:900px){

.footer-top{

flex-direction:column;

}

.footer-links{

gap:40px;

}

}